.showing-{
    display: none;
}
.showingp{
    display: none;
}
.showingo{
    display: none;
}
.showingv{
    display: none;
}
.showingF{
    display: none;
}
.showinga{
    display: none;
}
.well{
    cursor: pointer;
}
.output{
    display: none;
}