.showing-{
    display: none;
}
.showingp{
    display: none;
}
.showingo{
    display: none;
}
.showingv{
    display: none;
}
.showingF{
    display: none;
}
.showinga{
    display: none;
}
.well{
    cursor: pointer;
}
input#email{
    width: 250px;
}
input#comments{
    width: 300px;
    height: 100px;
}